:root {

/* Text */

--dark-blue: hsl(238, 29%, 16%);
--soft-red: hsl(14, 88%, 65%);

/* Gradient */

/* Background gradient: */

--soft-violet: hsl(273, 75%, 66%);
--soft-blue: hsl(240, 73%, 65%);

/* Neutral */

--white: #fff;

/* Text */

--blue-grayish: hsl(237, 12%, 33%);
--dark-grayish: hsl(240, 6%, 50%);

/* Dividers */

--light-grayish: hsl(240, 5%, 91%)
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    font-size: 1.125em;
}
img {
    max-width: 50%;
}

/* Container */

.container {
    min-height: inherit;
    background-image: linear-gradient(var(--soft-violet),var(--soft-blue));

    display: grid;
    place-items: center;
}

/* Card Style */

.card {
    background-image: url('images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 50%;

    background-color: var(--white);
    border-radius: 30px;
    padding: 2.5em 1.5em;
    font-size: .7em;
}

/* Card img */

.card-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.img {
    position: absolute;
    top:-10em;
    width: 100%;
}

.img {
    max-width: 90%;
}
/* Card title */

.card-title {
    text-align: center;
    font-size: 1.15em;
    font-weight: 700;
    margin: 6em 0 2em 0;
}
/* Card Content */

/* Details Style */
.detail-box {
    padding: .5em 0;
    border-bottom: .12em solid var(--light-grayish) ;
}

.detail-title {
    list-style: none;
    cursor: pointer;
    width: inherit;
    padding: 1em 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.detail-title:hover {
    color: var(--soft-red);
}

.logo {
    max-width: .8em;
}

.detail-text {
    padding: .5em 0 1em 0;
    max-width: 34ch;
}

/* Toggle to change arrow position */
.detail-box[open=""] .logo {
    transform: rotate(180deg);
}

.detail-box[open=""] .detail-title {
    font-weight: 700;
}

@media (min-width:40rem) {
    .container {
        grid-template-columns: auto .5fr auto;
        position: relative;
    }

    .card {
        grid-column: 2;
        background-image: url('images/bg-pattern-desktop.svg');
        background-size: 60vw;
        background-position: -30vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        min-width: 75vw;
    }

    .card-title {
        text-align: left;
        margin: 0;
    }

    .img {
        position: static;
        transform: translateX(-9.0vw);
        min-width: min(100%,50vw);
    }
}