:root {

/* Text */

--dark-blue: hsl(238, 29%, 16%);
--soft-red: hsl(14, 88%, 65%);

/* Gradient */

/* Background gradient: */

--soft-violet: hsl(273, 75%, 66%);
--soft-blue: hsl(240, 73%, 65%);

/* Neutral */

/* Text */

--blue-grayish: hsl(237, 12%, 33%);
--dark-grayish: hsl(240, 6%, 50%);

/* Dividers */

--light-grayish: hsl(240, 5%, 91%)
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    font-size: 1.125em;
}
img {
    max-width: 50%;
}

/* Container */

.container {
    min-height: inherit;
    background-image: linear-gradient(var(--soft-violet),var(--soft-blue));

    display: grid;
    place-items: center;
}

/* Card Style */

.card {
    background-color: #fff;
    border-radius: 30px;
    padding: 2em;
    font-size: .7em;
}

/* Card img */

/* Card title */

/* Card Content */

/* Details Style */
.detail-box {
    background: red;
}
.detail-title {
    list-style: none;
    cursor: pointer;
    width: inherit;
    padding: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo {
    max-width: .8em;
}

.detail-text {
    background-color: khaki;
    padding: 1em;
    max-width: 36ch;
}

/* Toggle to change arrow position */
.detail-box[open=""] {
    background-color: brown;
}

